body {
  font-family: Arial;
  background: #1e3c72;
}

.container {
  width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
}

input, textarea, select {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  background: orange;
  color: white;
  border: none;
}

.cv {
  width: 210mm;
  min-height: 297mm;
  border: 2px solid #ddd;
}

/* HEADER */
.header {
  display: flex;
  gap: 15px;
  padding: 20px;
  border-bottom: 3px solid orange;
}

.header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* CONTENT */
.content {
  display: flex;
}

.left {
  width: 60%;
  padding: 20px;
}

.right {
  width: 40%;
  padding: 20px;
  border-left: 2px dashed #ccc;
}

/* SKILLS */
.skill {
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 5px;
}

.skill-bar {
  height: 6px;
  background: #ddd;
}

.skill-fill {
  height: 6px;
  background: orange;
}

/* THEMES */
.blue-theme .header { background:#2a5298;color:white; }
.green-theme .header { background:#27ae60;color:white; }
.pink-theme .header { background:#e84393;color:white; }
.dark-theme { background:#222;color:white; }